:root {
	color-scheme: light;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	/* prettier-ignore */
	--uno-apply: bg-white overflow-x-hidden;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--uno-apply: overflow-x-hidden;
}

div#root {
	--uno-apply: flex flex-col min-h-screen w-full overflow-y-auto overflow-x-hidden;
}

button,
input,
textarea {
	--uno-apply: bg-transparent outline-none border-none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s;
}
