:root {
	color-scheme: dark;
	background-color: #000;
}

html {
	margin: 0;
	height: 100%;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	font-family: "Space Mono", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.9vw;
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #6dc281);
	border-radius: 20px;
}

button {
	appearance: none;
	background-color: transparent;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}
